@font-face{
    font-family: kanitLight;
    src: url(/assignmentSE/font/Kanit/Kanit-Light.ttf);
}
@font-face{
    font-family: kanitMedium;
    src: url(/assignmentSE/font/Kanit/Kanit-Medium.ttf)
}
#menu{
    color: black;
    font-size: 25px;
}
#person{ 
    float: left;
}
#rightSide{
    background-color: #000000;
    opacity: 0.06;

}

#leftSide{
        margin-top: 45.33px;
}

#brandMenu{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    font-family: 'kanitMedium', Kanit ,sans-serif;
    color: black;
    font-size: 25px;
}
#shopMenu{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    font-family: 'kanitLight', Kanit ,sans-serif;
}
#foundMenu{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    font-family: 'kanitLight', Kanit ,sans-serif;
}

nav{
    background-color: #FFE32E;
    /* height: 82px; */
}
#divUnderNav{
    margin-top:80px;
}
